/* GLOBAL */

input{
    border-radius: 0;
    border: 1px solid #ddd;
    margin: 5px 0;
    padding: 3px;
}

/* EDITOR */
.editor{
    
}

.editor #addHeader{
    display: block;
    font-size: 1.2em;
    margin: 1vh;
}

.editor #addPhoto{
    height: 20vh;
    color: #bbb;
    background: #444;
    text-align: center;
}

.editor #addPhoto input{
    border: none;
    margin-top: 6vh;
    margin-left: 10vw;
}

.add-bullets{
    
}

.add-bullets li{
    list-style-type: square;
    margin-left: 20px;
}

.mainActionButton{
    width: 100%;
    font-family: Georgia, serif;
    background-color: orangered;
    position: fixed;
    display: block;
    bottom: 0;
    text-align: center;
    text-decoration: none;
    color: white;
    padding: 8px 0 8px 0;
    font-weight: bold;
    font-size: 5vh;
    border: none;
}
